.allmeeting-header-wrapper {
    margin-bottom: 1rem;
}

.allmeeting-card {
    margin-bottom: 2rem;
}


@media screen and (max-width: 700px) {
    .main-dashboard-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .allmeeting-container {
        margin-top: 5rem;
        width: 90%;
    }

}

/* tabs view */

@media screen and (min-width: 768px) {
    .allmeeting-container {
        height: 100vh;
        width: 60%;
        padding: 1rem;
    }
}


@media screen and (min-width: 1024px) {
    .allmeeting-container {
        width: 70%;
    }

    .meeting-item {
        flex-direction: row;
        gap: 2rem;
    }
}


@media screen and (min-width: 1200px) {
    .allmeeting-container {
        width: 80%;
    }

    .meeting-item {
        justify-content: space-between;
    }

}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;
    /* text-align: center; */
    line-height: 3rem
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}