

.allmeeting-header-wrapper {
    margin-bottom: 1rem;
}


/* tabs view */

@media screen and (min-width: 768px) {
    .allmeeting-container {
        height: 100vh;
        width: 60%;
        padding: 1rem;
    }
}


@media screen and (min-width: 1024px) {
    .allmeeting-container {
        width: 70%;
    }
    .meeting-item{
        flex-direction: row;
        gap: 2rem;
    }
}


@media screen and (min-width: 1200px) {
    .allmeeting-container {
        width: 80%;
    }
    .meeting-item{
       justify-content: space-between;
    }
   
}