.profile-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 20px;
  height: 100vh;
  width: 60%;
}
.profile-name-card {
  padding: 25px 0px 25px 20px;
  background-color: #d6e3ea;
  border-radius: 12px;
  display: flex;
  gap: 20px;
  max-width: 500px;
  align-items: center;
  justify-content: flex-start;
}
.profile-photo-image {
  height: 42px;
  width: 42px;
  border-radius: 50px;
  background-color: #626262;
}
.profile-name-item {
  font-size: 1.25rem;
  font-weight: bold;
}

.profile-other-details-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 0px 25px 20px;
  background-color: #d6e3ea;
  max-width: 500px;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: bold;
}
.other-details-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.profile-reset-pass-item {
  padding: 12px 25px;
  background-color: #f4a1a1;
  width: fit-content;
  border-radius: 12px;
  transition: 0.5s ease;
  cursor: pointer;
}

.profile-reset-pass-item:hover {
  background-color: #eb9999;
}



@media screen and (min-width: 1024px) {
  .profile-page-wrapper {
    width: 70%;
  }
}



@media screen and (min-width: 1200px) {
  .profile-page-wrapper {
    width: 80%;
  }
}