*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Base rem unit */
  scroll-behavior: smooth;
  height: 100%; /* Ensure the full height */
}

body {
  min-height: 100vh; /* Full height */
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: #f8f9fa; /* Light gray background */
  color: #333; /* Default text color */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
