.navbar-container {
  /* position: relative;
  height: 100%;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  position: fixed;
  height: 100vh;
  padding: 50px 40px;
  justify-self: flex-start;
  left: 0; */
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  position: fixed;
  height: 100vh;
  padding: 25px 20px;
  justify-self: flex-start;
  left: 0;
  max-width: 300px;
  background: #c3dae7;
  z-index: 10;
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-bar-logo {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-buttons {
  display: flex;
  flex-direction: column;
  /* gap: 65px; */
  gap: 6px;
}

.navbar-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  padding: 12px;
  transition: 0.5s ease;
  border-radius: 10px;
}

.navbar-btn:hover {
  background-color: rgb(206, 206, 206);
  cursor: pointer;
}

.navbar-btn-active {
  background-color: #d6e3ea;
}

.navbar-btn-active:hover {
  background-color: #c3dae7;
}

.navbar-logout-btn {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  transition: 0.5s ease;
  cursor: pointer;
  /* margin-top: 350px; */
  /* position: absolute; */
  bottom: 2rem;
}

.navbar-buttons {
  flex-grow: 1; /* Takes up available space */
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.navbar-logout-btn {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  transition: 0.5s ease;
  cursor: pointer;
  margin-top: auto; /* Pushes it to the bottom */
}

.navbar-logout-btn:hover {
  background-color: #c3dae7;
}


@media screen and (max-width: 768px) {
 
}
