.navbar-container {
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  position: fixed;
  height: 100vh;
  padding: 25px;
  justify-self: flex-start;
  left: 0;
  max-width: 300px;
  z-index: 10;
  background-color: #f8f9fa;
  /* border-right: 1px solid #93acc5; */
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 10%);

}

.large-nav-tabs {
  display: block;
}

.mobile-nav-tabs {
  display: none !important;

}

a {
  text-decoration: none;
  color: black;
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-bar-logo {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-buttons {
  display: flex;
  flex-direction: column;
  /* gap: 65px; */
  gap: 6px;
}

.navbar-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  padding: 12px;
  transition: 0.5s ease;
  border-radius: 10px;
}

.navbar-btn:hover {
  background-color: rgb(206, 206, 206);
  cursor: pointer;
}

.navbar-btn-active {
  background-color: #d6e3ea;
}

.navbar-btn-active:hover {
  background-color: #c3dae7;
}



.navbar-buttons {
  flex-grow: 1;
  /* Takes up available space */
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.navbar-logout-btn {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  transition: 0.5s ease;
  cursor: pointer;
  margin-top: auto;
  /* Pushes it to the bottom */
}

.navbar-logout-btn:hover {
  background-color: #c3dae7;
}



.navbar-hidden {
  transform: translateX(-100%);
  opacity: 0;
}



.navbar-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}



.navbar-logout-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  margin-top: auto;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-logout-btn:hover {
  background-color: #ff4d4d;
}

.navbar-expand-icon {
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 2;
  margin: 1rem;
}
.navbar-toggle-icon{
  display: none;
}
@media screen and (max-width: 768px) {
  .large-nav-tabs {
    display: none;
  }

  .mobile-nav-tabs {
    display: flex !important;
  }

  .navbar-toggle-icon {
    display: block;
  }
}