.analytics-card-container {
  padding: 25px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 10%);
  border-radius: 32px;
  margin-right: 1rem;
  max-height: 450px;
}

.analytics-card-heading {
  font-size: 1.25rem;
  font-weight: bold;
}

img.clientanalytic-image {
  max-height: 550px;
}

.inner-chart-div {
  width: 300px;
  max-height: 400px;
}


@media screen and (max-width: 700px) {
  .analytics-card-container {
    margin-right: 1rem;
    margin: 1rem;
  }

  .your-plans-container {

    margin: 1rem;
  }

  .recharts-responsive-container {
    width: 250px;
  }

  .allmeeting-container {
    margin-top: 5rem;
  }

  .inner-chart-div {
    width: 280px;
    height: 400px;
  }

}