.analytics-card-container {
  padding: 25px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 10%);
  border-radius: 32px;
  margin-right: 3rem;
}

.analytics-card-heading {
  font-size: 1.25rem;
  font-weight: bold;
}

.analytics-chart-wrapper {
}
