.create-plan-page-container {
  padding: 25px 400px;
  width: 60%;
  margin-top: 2rem;
}

.create-plan-page-container {
  padding: 25px;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0px 0px 13.899999618530273px 0px rgba(0, 0, 0, 25%);
}

.create-plan-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 2rem;

}

.create-plan-form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.create-plan-form-group label {
  font-size: 1.25rem;
  font-weight: bold;
}

.create-plan-form-group input {
  border: 1px solid #999999;
  padding: 4px 10px;
  border-radius: 8px;
  width: 400px;
  height: 40px;
  font-size: 1.25rem;
}

.create-plan-form-group select {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.25rem;
  border: 1px solid #999999;
}

.create-plan-selection-btn {
  padding: 10px 15px;
  background-color: #eaf0f4;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
  color: #77a5b9;
}

.create-plan-selection-btn:hover {
  background-color: #cae0ee;
}

.create-plan-selection-btn-active {
  background-color: #436f86;
  transition: 0.5s ease;
  color: #ffffff;
}

.create-plan-selection-btn-active:hover {
  background-color: #6f9eb8;
}

.create-plan-multi-select {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.create-plan-text-input-group {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
}

.create-plan-multiselect-group {
  display: flex;
  gap: 20px;
}

.create-plan-callduration-wrapper {
  width: 350px;
}


.submit-plan-creation-btn {
  padding: 12px 24px;
  background-color: #eaf0f4;
  border-radius: 12px;
  color: #77a5b9;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
  width: fit-content;
  float: inline-end;
}

.submit-plan-creation-btn:hover {
  background-color: #375a6d;
  color: white;
}

.create-plan-pricing-input {
  display: flex;
  align-items: center;
  gap: 20px;
}

.create-plan-form-group textarea {
  border: 1px solid #999999;
  padding: 4px 10px;
  border-radius: 8px;
  width: 400px;
  height: 40px;
  font-size: 1.25rem;
}

.create-plan-benefits textarea {
  height: 120px;
}

.create-plan-features textarea {
  height: 120px;
}

.create-plan-description textarea {
  height: 200px;
}

.create-plan-section2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.create-plan-upload-coverphoto-container {
  border: 2px dashed #436F86;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.create-plan-uploadimage-button {
  background-color: #436F86;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.6rem;
  border-radius: 10px;

}

.create-plan-form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 40px;
  padding-left: 10px;
  background: url('https://img.icons8.com/?size=100&id=60662&format=png&color=000000') no-repeat right center;
  background-size: 16px;
  background-position: right 10px center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-plan-form-group select::-ms-expand {
  display: none;
}

.pricing-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.pricing-div-inputes{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 1024px) {
  .create-plan-page-container {
    width: 65%;
    margin-right: 2rem;
  }

  input, textarea {
    width: 100% !important;
}
}



@media screen and (min-width: 1200px) {
  .create-plan-form-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .create-plan-page-container {
    width: 70%;
    margin-top: 2rem;
    margin-right: 5rem;
  }
}