.create-plan-page-container {
  padding: 25px 400px;
  width: 60%;
}
.create-plan-page-container {
  padding: 25px;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0px 0px 13.899999618530273px 0px rgba(0, 0, 0, 25%);
}
.create-plan-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.create-plan-form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.create-plan-form-group label {
  font-size: 1.25rem;
  font-weight: bold;
}

.create-plan-form-group input {
  border: 1px solid #999999;
  padding: 4px 10px;
  border-radius: 8px;
  width: 400px;
  height: 40px;
  font-size: 1.25rem;
}

.create-plan-form-group select {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.25rem;
  border: 1px solid #999999;
}
.create-plan-selection-btn {
  padding: 10px 15px;
  background-color: #eaf0f4;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
  color: #77a5b9;
}
.create-plan-selection-btn:hover {
  background-color: #cae0ee;
}

.create-plan-selection-btn-active {
  background-color: #436f86;
  transition: 0.5s ease;
  color: #ffffff;
}
.create-plan-selection-btn-active:hover {
  background-color: #6f9eb8;
}
.create-plan-multi-select {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.create-plan-text-input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.create-plan-multiselect-group {
  display: flex;
  gap: 20px;
}

.create-plan-callduration-wrapper {
  width: 350px;
}

.create-plan-pricing-inputs-group {
}

.submit-plan-creation-btn {
  padding: 12px 24px;
  background-color: #eaf0f4;
  border-radius: 12px;
  color: #77a5b9;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
  width: fit-content;
}

.submit-plan-creation-btn:hover {
  background-color: #375a6d;
  color: white;
}

.create-plan-pricing-input {
  display: flex;
  align-items: center;
  gap: 20px;
}
.create-plan-form-group textarea {
  border: 1px solid #999999;
  padding: 4px 10px;
  border-radius: 8px;
  width: 400px;
  height: 40px;
  font-size: 1.25rem;
}
.create-plan-benefits textarea {
  height: 300px;
}
.create-plan-features textarea {
  height: 200px;
}

.create-plan-description textarea {
  height: 100px;
}
