.create-new-password-page-container {
    padding: 1rem;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-new-password-page-container-wrapper {
    width: 100%;
    padding: 2rem;

}

.create-new-password-page-section1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.create-new-password-page-section2 {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


p.create-new-password-page-section2-para1 {

    font-size: 48px;
    font-weight: bold;
}

p.create-new-password-page-section2-para2 {
    font-size: 16px;
}


.create-new-password-page-section3 {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.create-new-password-page-form-input {
    border: 1px solid #999999;
    border-radius: 8px;
    padding: 12px 10px;
    width: 390px;
    background-color: transparent;
    padding-right: 40px;
    /* Space for the icon */
}

.create-new-password-page-signup-button {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 10%);
    text-align: center;
    background-color: #EAF0F4;
    width: 390px;
    padding: 12px;
    border: none;
    color: #77A5B9;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 72px;
}

.create-new-password-page-forgotpass {
    width: 390px;
    text-align: right;
}

.input-container {
    position: relative;
    width: 100%;
}

.toggle-password-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.toggle-password-btn img {
    width: 20px;
    height: 20px;
}

.create-new-password-error-text {
    color: red;
    text-align: left;
    width: 390px;
    font-size: 14px;
    margin-top: -20px;
}

.create-new-password-input-error {
    border: 2px solid red !important;
}
.create-new-password-error-div{
    width: 390px;
    margin-top: -20px;
}
.create-new-password-error-text{
    margin-left: 30px;
}