.forgotpassword-page-container {
    padding: 1rem;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forgotpassword-page-container-wrapper {
    width: 100%;
    padding: 2rem;

}

.forgotpassword-page-section1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.forgotpassword-page-section2 {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


p.forgotpassword-page-section2-para1 {

    font-size: 48px;
    font-weight: bold;
}

p.forgotpassword-page-section2-para2 {
    font-size: 16px;
}


.forgotpassword-page-section3 {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotpassword-page-form-input {
    border: 1px solid #999999;
    border-radius: 8px;
    padding: 12px 10px;
    width: 390px;
    background-color: transparent;
}

.forgotpassword-page-signup-button {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 10%);
    text-align: center;
    background-color: #EAF0F4;
    width: 390px;
    padding: 12px;
    border: none;
    color: #77A5B9;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 72px;
}

.forgotpassword-page-forgotpass {
    width: 390px;
    text-align: right;
}