.registration-page-container {
    /* padding: 1rem; */
    background-color: #F4F4F4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img.image1 {
    height: 96vh;
    padding-left: 1rem;
}

.registration-page-container-wrapper {
    width: 100%;
    padding: 2rem;

}

.registration-page-section1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.registration-page-section2 {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


p.registration-page-section2-para1 {

    font-size: 48px;
    font-weight: bold;
}
p.registration-page-section2-para2 {
    font-size: 24px;
}


.registration-page-section3{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.registration-page-form-input{
    border: 1px solid #999999;
    border-radius: 8px;
    padding: 12px 10px;
    width: 390px;
    background-color: transparent;
}

.registration-page-signup-button{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 10%);
    text-align: center;
    background-color: #EAF0F4;
    width: 390px;
    padding: 12px;
    border: none;
    color: #77A5B9;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 60px;
    cursor: pointer;
}
.registration-error-text{
    color: red;
    text-align: left;
    width: 390px;
    font-size: 14px;
    margin-top: -20px;
}
.registration-input-error {
    border: 2px solid red !important;
  }
